.InputFormUser{
    padding: 8px;
    margin: 8px;
    border: 1px solid black;
    width: 50%;
}

.InputFormUser label{
    display: block;
    text-align: left;
    font-size: 1rem;
    margin: 8px;
    width: 100%;
}

.InputFormUser button{
    display: block;
    text-align: center;
    background-color: blue;
    color: whitesmoke;
    width: 100%;
    border-radius: 4px;
    margin: 8px;
    padding: 8px;
}

.InputFormUser input{
    display: block;
    text-align: left;
    width: 100%;
    margin: 8px;
    padding: 4px;
}